@tailwind base;
@tailwind components;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

@font-face {
    font-family: 'AmaticSC';
    src: url('/fonts/AmaticSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IndieFlower';
    src: url('/fonts/IndieFlower-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caveat';
    src: url('/fonts/Caveat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ShadowsIntoLight';
    src: url('/fonts/ShadowsIntoLight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}